<?xml version="1.0" encoding="UTF-8"?>
<!-- http://phpunit.de/manual/4.1/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="./vendor/autoload.php">
  <coverage>
    <include>
      <directory>src</directory>
    </include>
    <exclude>
      <directory>src/Resources</directory>
    </exclude>
    <report>
      <clover outputFile="var/clover.xml"/>
      <html outputDirectory="var/coverage" lowUpperBound="35" highLowerBound="70"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Project Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="var/junit.xml"/>
  </logging>
</phpunit>
